.pagination {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0 10px;
  width: 400px;
  margin-left: auto;

  &-item {
    padding: 10px;
  }

  &-link {
    font-size: 14px;
    line-height: 21px;
    color: $color-pagination;
  }
}
