.similar {
  padding-bottom: 80px;

  &-title {
    font-family: $ff-playfair;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 43px;
    color: $color-secondary-black;
  }
}
